@model AtividadeLink;


@{
    Layout = null;
}

    <div class="container">
        <form method="post" asp-action="baixarAnexos">

            <span class="input-group-text d-inline bg-dark text-white col-12">Tipo de Atividade</span>
            @if (Model.tipoAtividades.Count() == 0)
            {

                <span class="input-group-text mb-5 mt-2 col-12">Não há tipo de atividades registrados</span>
            }
            else
            {
                <div class="input-group-prepend">
                    <select asp-for="@Model.tipoAtividade" name="tipoAtividade" class="user-select-auto form-control col-12 mb-5 mt-2">
                        @foreach (TipoAtividade tipoAtividade in Model.tipoAtividades)
                        {

                            <option value="@tipoAtividade.ID"> @tipoAtividade.NomeAtividade</option>

                        }
                    </select>
                </div>
            }



            <span class="input-group-text d-inline bg-dark text-white col-12 mb-3">Data</span>
            @if (Model.anos.Count() == 0)
            {
                <span class="input-group-text mb-5 mt-2 col-12">Não há atividades registrados!</span>

            }
            else
            {
                <div class="input-group-prepend">

                    <select asp-for="@Model.ano" class="user-select-auto mt-2 mb-5 col-12 form-control">
                        @foreach (int ano in Model.anos)
                        {
                            <option value="@ano">@ano</option>
                        }
                    </select>
                </div>

            }
            @if (Model.anos.Count() == 0 && Model.atividades.Count() == 0)
            {

            }
            else
            {
                <button type="submit mt-2" class="btn btn-primary">Concluir</button>
            }
            <br />
        </form>
    </div>
