@model AtividadeLink;
@{
    string arquivo = null;
    Layout = null;
    if (Model.atividade.caminhoArquivo != null)
    {
        arquivo = "/arquivos/" + Model.atividade.caminhoArquivo;
    }

}

<div>
    <h4>Atividade: @Model.atividade.nome</h4>

    <div class="modal-body">
        <div class="form-group">
            <input asp-for="@Model.atividade.ID" value="@TempData["id"]" type="hidden" />

            <label asp-for="@Model.atividade.nome"></label>
            <input class="form-control" value="@Model.atividade.nome" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.atividade.descricao"></label>
            <input class="form-control" value="@Model.atividade.descricao" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.atividade.dataInicio"></label>
            <input class="form-control" value="@Model.atividade.dataInicio.ToShortDateString()" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.atividade.dataFim"></label>
            <input class="form-control" value="@Model.atividade.dataFim.ToShortDateString()" readonly />
        </div>
        @if (Model.atividade.DataValidade != null)
        {
            <div>
                <label asp-for="@Model.atividade.DataValidade"></label>
                <input class="form-control" value="@Model.atividade.DataValidade" readonly />
            </div>
        }
        <div class="form-group">
            <label asp-for="@Model.tipoAtividade.NomeAtividade"></label>
            <input class="form-control" value="@Model.tipoAtividade.NomeAtividade" readonly />
        </div>

        <div class="form-group">
            <label asp-for="@Model.atividade.Arquivo"></label>
            <label> <a href="@arquivo" target="_blank">Clique aqui para abrir o arquivo.</a></label>
            <embed src="@arquivo" width="450" height="500" />

        </div>

    </div>
</div>