@model AtividadeLink;
<form method="post" asp-action="Editar">
    <div>
        <h4>Editar: @Model.atividade.nome</h4>

        <div class="modal-body">

            <div class="form-group">
                <input asp-for="@Model.atividade.ID" value="@Model.atividade.ID" type="hidden" />
                <input asp-for="@Model.atividade.idUsuario" value="@TempData["id"]" type="hidden" />
                <label asp-for="@Model.atividade.nome"></label>
                <input class="form-control" value="@Model.atividade.nome" />
                <span asp-validation-for="@Model.atividade.nome" class="text-danger font-weight-light "></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.atividade.descricao"></label>
                <input class="form-control" value="@Model.atividade.descricao" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.atividade.dataInicio"></label><br />
                <span class="text-primary font-weight-light "> Data de inicio anterior: @Model.atividade.dataInicio.ToShortDateString() </span>
                <input asp-for="@Model.atividade.dataInicio" class="form-control" value="@Model.atividade.dataInicio" />
                <span asp-validation-for="@Model.atividade.dataInicio" class="text-danger font-weight-light "></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.atividade.dataFim"></label><br />
                <span class="text-primary font-weight-light "> Data de finalização anterior: @Model.atividade.dataFim.ToShortDateString() </span>
                <input asp-for="@Model.atividade.dataFim" class="form-control" value="@Model.atividade.dataFim" />
                <span asp-validation-for="@Model.atividade.dataFim" class="text-danger font-weight-light "></span>
            </div>
            <br />Possui data de validade? Sim <input type="checkbox" id="checkbox" onclick="CheckFunc()">
            <div class="form-group" id="informacoes" style="display:none">
                <label asp-for="@Model.atividade.DataValidade"></label><br />
                <span class="text-primary font-weight-light "> Data de validade anterior: @Model.atividade.DataValidade </span>
                <input asp-for="@Model.atividade.DataValidade" class="form-control" placeholder="Data de validade da atividade">
                <span asp-validation-for="@Model.atividade.DataValidade" class="text-danger font-weight-light "></span>
            </div>




            <div class="form-group">
                <label asp-for="@Model.atividade.idTipoAtiv"></label>
                @if (Model.tipoAtividades.Count() == 0)
                {
                    <br /><span class="text-sm-center"> É necessário cadastrar um tipo de atividade para definir uma atividade!</span>
                }
                else
                {
                    <select asp-for="@Model.atividade.idTipoAtiv" id="atividades" class="user-select-auto">
                        @foreach (TipoAtividade tipoAtividade in Model.tipoAtividades)
                        {
                            if (tipoAtividade.idUsuario == (int)TempData["id"])
                            {
                                <option value="@tipoAtividade.ID"> @tipoAtividade.NomeAtividade</option>
                            }
                        }
                    </select>
                }
            </div>
            <!-- Adicionar a visualização de anexo dos arquivos!!!!-->


            <button class="btn btn-primary" asp-action="Editar" type="submit"> Editar </button>

        </div>
    </div>
</form>
<script src="~/Content/plugins/datatables/arquivo_min.js"></script>

@section scripts{

    <script>
        function CheckFunc() {
            var checkBox = document.getElementById("checkbox");
            var text = document.getElementById("informacoes");
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
    </script>
}