@model AtividadeLink;
<!-- TESTE DE ERROS NA HORA DE PASSAR ITENS PELA CONTROLLER   -->
<br />
@if (TempData["erro"] == null)
{
    if (TempData["NovoTipoAtividade"] != null)
    {
        if ((bool)TempData["NovoTipoAtividade"] == true)
        {
            <span class="alert alert-success">Tipo de atividade cadastrado com sucesso!</span>
            <br />
            <br />
        }
        else
        {
            <span class="alert alert-danger">Tipo de atividade não foi cadastrado com sucesso!</span>
            <br />
            <br />
        }
    }
    if (TempData["NovaAtividade"] != null)
    {
        if ((bool)TempData["NovaAtividade"] == true)
        {
            <span class="alert alert-success">Atividade cadastrado com sucesso!</span>
            <br />
            <br />
        }
        else
        {
            <span class="alert alert-danger">Atividade não foi cadastrado com sucesso!</span>
            <br />
            <br />

        }
    }
    if (TempData["EditarAtividade"] != null)
    {
        if ((bool)TempData["EditarAtividade"] == true)
        {
            <span class="alert alert-success">Atividade editada com sucesso!</span>
            <br />
            <br />
        }
        else
        {
            <span class="alert alert-danger">Atividade não foi editada com sucesso!</span>
            <br />
            <br />

        }
    }

    if (TempData["deletarAtividade"] != null)
    {
        if ((bool)TempData["deletarAtividade"] == true)
        {
            <span class="alert alert-success">Atividade deletada com sucesso!</span>
            <br />
            <br />
        }
    }

    if (TempData["ErroTipoAtividades"] != null)
    {
        if ((bool)TempData["ErroTipoAtividades"] == true)
        {
            <span class="alert alert-success">Não foi possível pegar as informações de Tipos de Atividades.</span>
            <br />
            <br />
        }
        <!-- FIM DE TESTE DE ERROS NA HORA DE PASSAR ITENS PELA CONTROLLER   -->
    }
    <div class="alert alert-success col-6" id="alerta" role="alert" style="display:block">
        <h4 class="alert-heading">Bem-vindo a página de Atividades e Tipos de Atividades</h4>
        <p>
            Certo, aqui você pode criar, visualizar, editar e deletar atividades. Você pode cadastrar atividades que serão concluídas, ou não foram concluídas.
            Já os tipos de atividades, é um tipo para tais atividades. Por exemplo: eu tenho feito um curso de inglês. O tipo de atividade é o "curso", e atividade é inglês.
        </p>
        <hr>
        <p class="mb-0">Clique no nome e/ou no identificador para checar os detalhes das atividades.</p>
        <button class="btn btn-outline-primary" id="btnConclusao" onclick="FuncAlerta()">Certo, entendi</button>
    </div>

    <div class="d-flex justify-content-around">
        <button type="button" name="tiposAtividade" class="btn btn-outline-primary btn-lg btn-toolbar"data-toggle="modal" data-target="#ModalTiposAtividade" >Tipos de atividades</button>


        <button type="button" name="novaatividade" class="btn btn-outline-success btn-lg btn-toolbar" data-toggle="modal" data-target="#modalAtividade">Cadastrar nova atividade</button>
    </div>

    <br />


    <div class="d-flex justify-content-start">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text d-inline p-2 bg-dark text-white">Buscar Atividade</span>
            </div>
            <input type="text" class="form-control">
        </div>
        <input type="button" class="btn btn-primary" value="Buscar" />
    </div>
    <br />
    <table id="table" class="table table-striped table-dark">
        <thead>
            <tr>
                <th class="p-1 mb-2 bg-info text-white"><label asp-for="@Model.atividade.ID"></label></th>
                <th class="p-2 mb-2 bg-secondary text-white"><label asp-for="@Model.atividade.nome"></label></th>
                <th class="p-2 mb-2 bg-primary text-white">Status</th>
                <th class="p-2 mb-2 bg-warning text-dark"><label> Editar</label></th>
                <th class="p-2 mb-2 bg-danger text-white">Remover</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.atividades != null)
            {
                @foreach (Atividade atividade in Model.atividades)
                {
                    @if (atividade.idUsuario == (int)TempData["id"])
                    {


                        <tr>
                            <td class="btnDetalhes" data-title="ID" data-toggle="modal" data-target="#ModalDetalhes" data-value="@atividade.ID">@atividade.ID</td>
                            <td data-title="Name" class="btnDetalhes" data-toggle="modal" data-target="#ModalDetalhes" data-value="@atividade.ID">@atividade.nome</td>
                            <td data-title="Link">
                                Completo
                            </td>
                            <td class="btn-warning text-dark btnEditar" data-toggle="modal" data-target="#ModalEditar" data-value="@atividade.ID"> Editar </td>
                            <td class="btn-danger text-white btnDeletar" data-toggle="modal" data-target="#ModalDeletar" data-value="@atividade.ID">Remover</td>

                        </tr>

                    }
                }
            }

        </tbody>

    </table>
    <div class="modal fade" id="modalAtividade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar atividade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" asp-action="NovaAtividade">
                    <div class="modal-body">
                        <div class="form-group">
                            <input asp-for="@Model.atividade.idUsuario" value="@TempData["id"]" type="hidden" />

                            <label asp-for="@Model.atividade.nome"></label>
                            <input class="form-control" asp-for="@Model.atividade.nome" placeholder="Nome da atividade">
                            <span asp-validation-for="@Model.atividade.nome" class="text-danger font-weight-light "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.atividade.descricao"></label>
                            <input asp-for="@Model.atividade.descricao" class="form-control" placeholder="Descrição da atividade">
                            <span asp-validation-for="@Model.atividade.descricao" class="text-danger font-weight-light "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.atividade.dataInicio"></label>
                            <input asp-for="@Model.atividade.dataInicio" class="form-control" placeholder="Data de inicio da atividade">
                            <span asp-validation-for="@Model.atividade.dataInicio" class="text-danger font-weight-light "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.atividade.dataFim"></label>
                            <input asp-for="@Model.atividade.dataFim" class="form-control" placeholder="Data de inicio da atividade">
                            <span asp-validation-for="@Model.atividade.dataFim" class="text-danger font-weight-light "></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.atividade.idTipoAtiv"></label>
                            @if (Model.tipoAtividades.Count() == 0)
                            {
                                <br /><span class="text-sm-center"> É necessário cadastrar um tipo de atividade para definir uma atividade!</span>
                            }
                            else
                            {
                                <select asp-for="@Model.atividade.idTipoAtiv" id="atividades" class="user-select-auto">
                                    @foreach (TipoAtividade tipoAtividade in Model.tipoAtividades)
                                    {
                                        if (tipoAtividade.idUsuario == (int)TempData["id"])
                                        {
                                            <option value="@tipoAtividade.ID"> @tipoAtividade.NomeAtividade</option>
                                        }
                                    }
                                </select>
                            }
                            <br />Possui data de validade? Sim <input type="checkbox" id="checkbox" onclick="CheckFunc()">
                            <div class="form-group" id="informacoes" style="display:none">
                                <label asp-for="@Model.atividade.DataValidade"></label>
                                <input asp-for="@Model.atividade.DataValidade" class="form-control" placeholder="Data de validade da atividade">
                                <span asp-validation-for="@Model.atividade.DataValidade" class="text-danger font-weight-light "></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="@Model.atividade.anexo"></label>
                                <input id="ArquivoUpload" type="file" asp-for="@Model.atividade.anexo" />
                                <span asp-validation-for="@Model.atividade.anexo" class="text-danger font-weight-light "></span>
                            </div>


                            <button type="button" name="novotipoatividade" class="btn btn-outline-danger btn-sm btn-block" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#modaltipoAtividade">

                                Cadastrar novo tipo de Atividade

                            </button>


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="modaltipoAtividade" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar tipo de atividade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form method="post" asp-action="NovoTipoAtividade">
                    <div class="form-group">
                        <input asp-for="@Model.tipoAtividade.idUsuario" value="@TempData["id"]" type="hidden" />
                        <label class="badge-success" asp-for="@Model.tipoAtividade.NomeAtividade"></label>
                        <input asp-for="@Model.tipoAtividade.NomeAtividade" class="form-control" placeholder="Nome do tipo de atividade">
                        <span asp-validation-for="@Model.tipoAtividade.NomeAtividade" class="text-danger mb-2"></span>
                    </div>
                    <div class="form-group">
                        <label class="badge-success" asp-for="@Model.tipoAtividade.DescAtividade"></label>
                        <input asp-for="@Model.tipoAtividade.DescAtividade" class="form-control" placeholder="Descrição do tipo de atividade">
                        <span asp-validation-for="@Model.tipoAtividade.DescAtividade" class="text-danger mb-2"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ModalDetalhes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="conteudoModalDetalhes">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                </div>
                <div class="modal-body">
                    <div id="conteudoModalEditar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalDeletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Exclusão</h5>
                </div>
                <div class="modal-body">
                    <div id="conteudoModal">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalTiposAtividade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tipos Atividade</h5>
                </div>
                <div class="modal-body">
                    <div id="conteudoModal">
                        @await Html.PartialAsync("TiposAtividade.cshtml", Model);
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

}

else
{
    <span class="alert alert-danger">@TempData["erro"]</span>
}

@section scripts{



    <script type="text/javascript">
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $(".btnDeletar").click(function () {

                var id = $(this).data("value");
                $("#conteudoModal").load("/Atividade/RemoverAtividade/" + id, function () {
                    $('#ModalDeletar').modal("show.bs.modal");
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $(".btnDetalhes").click(function () {

                var id = $(this).data("value");
                $("#conteudoModalDetalhes").load("/Atividade/Detalhes/" + id, function () {
                    $('#ModalDetalhes').modal("show.bs.modal");
                });
            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $(".btnEditar").click(function () {

                var id = $(this).data("value");
                $("#conteudoModalEditar").load("/Atividade/Editar/" + id, function () {
                    $('#ModalEditar').modal("show.bs.modal");
                });
            });
        });

    </script>

    <script type="text/javascript">
        function CheckFunc() {
            var checkBox = document.getElementById("checkbox");
            var text = document.getElementById("informacoes");
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
    </script>
    <script>
        function FuncAlerta() {
            var alert = document.getElementById("alerta");
            alert.style.display = "none";
        }
    </script>
}
        


