@model AtividadeLink;
@{
    Layout = null;
}

<div>

    <form method="post" asp-action="TiposEditar">
    <div class="form-group">
        <input asp-for="@Model.tipoAtividade.idUsuario" value="@TempData["id"]" type="hidden" />
        <input asp-for="@Model.tipoAtividade.ID" type="hidden" />
        <label class="badge-success" asp-for="@Model.tipoAtividade.NomeAtividade"></label>
        <input asp-for="@Model.tipoAtividade.NomeAtividade" class="form-control" placeholder="@Model.tipoAtividade.NomeAtividade">
        <span asp-validation-for="@Model.tipoAtividade.NomeAtividade" class="text-danger mb-2"></span>
    </div>
    <div class="form-group">
        <label class="badge-success" asp-for="@Model.tipoAtividade.DescAtividade"></label>
        @if (Model.tipoAtividade.DescAtividade == null)
        {
            <input asp-for="@Model.tipoAtividade.DescAtividade" class="form-control" placeholder="Coloque uma descrição para o Tipo de Atividade">
        }
        else
        {
        <input asp-for="@Model.tipoAtividade.DescAtividade" class="form-control" placeholder="@Model.tipoAtividade.DescAtividade">
        }
        <span asp-validation-for="@Model.tipoAtividade.DescAtividade" class="text-danger mb-2"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
</div>



